<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>广州地区酒店行业协会</title>
<meta name="description" content="广州地区酒店行业协会,首页">
<meta name="keywords" content="广州地区酒店行业协会,首页">
<link href="__PUBLIC__/Css/style.css" rel="stylesheet">
<link href="__PUBLIC__/Css/main.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="__PUBLIC__/Js/jquery-2.0.3.min.js" ></script>
</head>
<body>
<div id="war">
    <div id="i_header">
    	<div id="topimg">
    		<img src="__PUBLIC__/Uploads/Images/bg.png" alt="" width="100%" height="100%">
    	</div>
    	<div id="htop">
    		<div>
    			<span id="htopl">
    				<a href="http://weibo.com/gzhotelsassociation/" id="wb"></a>
    				<a href="javascript:;" id="wx">
    					<div id="ewm">
    						<div id="ewm_h"></div>
    						<div id="el">    							
	    						<img src="__PUBLIC__/Images/ewm.png" alt="微信二维码" width="120" height="120">
    						</div>
    						<div id="er">
	    						<p><span id="xhbt">广州地区酒店行业协会</span></p>
	    						<p style="text-align:center;">官方微信</p>
	    						<p style="padding-left:10px;">快速搜索二维码</p>
	    						<p style="padding-left:10px;">或搜索微信号<span id="wxh">&nbsp;gza-com</span></p> 
	    						<p style="padding-left:10px;">关注我们吧！</p>   							
    						</div>
    					</div>
    				</a>
    				<span id="lg_re"><a href="javascript:;" id="vip_lg">会员登录</a>/<a href="javascript:;">注册</a></span></span>
    			<span id="htopr"><a href="javascript:;">中文</a>/<a href="javascript:;">English</a></span>
    		</div>
    	</div>
    	<div id="hbtm">
		    <include file="Index:nav"/>
	    </div>
	    <div id="logo">
	    	<div id="lgpic"></div>
	    </div>
    </div>

    <div id="content">
    	<div id="lbo">
    		<div id="lbot"><div class="h_header" id="lbtl">协会动态</div><div id="lbtr">酒店推广</div></div>
    		<div class="clear"></div>
    		<div id="lbo_h"><div id="tlh"></div><div id="trh"></div></div>
    		<div id="lboc">
    			<div id="lbcl">
    				<a href="javascript:;">
	    				<div class="img1">
	    					<img src="__PUBLIC__/Uploads/Images/1.png" alt="">
	    					<span style="position:absolute;top:265px;">协会通讯员工作会议暨智慧</span>
	    				</div>
    				</a>
    				<a href="javascript:;">
	    				<div class="img2">
	    					<img src="__PUBLIC__/Uploads/Images/2.png" alt="">
	    					<span>召开会议度假型酒店人力成本</span>
	    				</div>
    				</a>
    				<a href="javascript:;">
	    				<div class="img3">
	    					<img src="__PUBLIC__/Uploads/Images/3.png" alt="">
	    					<span>酒店网络改造升级及酒店智能化解决</span>
	    				</div>
    				</a>
    				<a href="javascript:;">
	    				<div class="img4">
	    					<img src="__PUBLIC__/Uploads/Images/4.png" alt="">
	    					<span>HOFEX-2013第十五届国际食品餐</span>
	    				</div>
    				</a>
    				<a href="javascript:;">
	    				<div class="img5">
	    					<img src="__PUBLIC__/Uploads/Images/5.png" alt="">
	    					<span>买家之夜暨颁奖典礼</span>
	    				</div>
    				</a>
    			</div>
    			<div id="lbcr">
    				<a href="javascript:;">
	    				<div class="img1">
	    					<img src="__PUBLIC__/Uploads/Images/1.png" alt="">
	    					<span style="position:absolute;top:265px;">这是标题</span>
	    				</div>
    				</a>
    				<a href="javascript:;">
	    				<div class="img2">
	    					<img src="__PUBLIC__/Uploads/Images/2.png" alt="">
	    					<span>这是标题</span>
	    				</div>
    				</a>
    				<a href="javascript:;">
	    				<div class="img3">
	    					<img src="__PUBLIC__/Uploads/Images/3.png" alt="">
	    					<span>这是标题</span>
	    				</div>
    				</a>
    				<a href="javascript:;">
	    				<div class="img4">
	    					<img src="__PUBLIC__/Uploads/Images/4.png" alt="">
	    					<span>这是标题</span>
	    				</div>
    				</a>
    				<a href="javascript:;">
	    				<div class="img5">
	    					<img src="__PUBLIC__/Uploads/Images/5.png" alt="">
	    					<span>这是标题</span>
	    				</div>
    				</a>
    			</div>
    		</div>
    	</div>
    	<script>
    	// 顶部轮播
    	$(document).ready(function() { 
	    	$('#trh').css("display","none");    		    		
    		setTimeout("lb()",5000);   
    		//setTimeout("ctbg()",10000); 		
		}); 
		var i=0;
		function lb(){
			var arr=['lbtr','lbtl'];
			if(i==0){
				i++;
				$("#lbtr").addClass('h_header');
	    		$("#lbtl").removeClass('h_header');
	    		$("#lbcr").slideDown();
	    		$("#lbcl").slideUp(); 
	    		$('#trh').css("display","block");
	    		$('#tlh').css("display","none");
			}else if(i==1){
				i=0;
				$("#lbtl").addClass('h_header');
	    		$("#lbtr").removeClass('h_header');
	    		$("#lbcr").slideUp();
	    		$("#lbcl").slideDown();
	    		$('#tlh').css("display","block");
	    		$('#trh').css("display","none");    		
			}
			setTimeout("lb()",5000);
		}
		$("#lbtl").click(function(){
			i=0;
			$("#lbtl").addClass('h_header');
    		$("#lbtr").removeClass('h_header');
    		$("#lbcr").slideUp();
    		$("#lbcl").slideDown();
    		$('#tlh').css("display","block");
    		$('#trh').css("display","none");  
		});
		$("#lbtr").click(function(){
			i=1;
			$("#lbtr").addClass('h_header');
    		$("#lbtl").removeClass('h_header');
    		$("#lbcr").slideDown();
    		$("#lbcl").slideUp(); 
    		$('#trh').css("display","block");
    		$('#tlh').css("display","none");
		});
		$("#lbtl").hover(function(){
	    		$('#tlh').css("display","block");    		  
			},function(){
				if(i==0){
				}else{
	    			$('#tlh').css("display","none");    		
				}
			});
			$("#lbtr").hover(function(){
	    		$('#trh').css("display","block");    		  
			},function(){
				if(i==1){
				}else{   		
	    			$('#trh').css("display","none");    		
				}
			});
    	</script>
    	<div class="cnav">    		
    		<include file="Index:cnav"/>
    	</div>
    	<div id="ht_tz">
    		<div id="htl">
    			<div id="ht_map">    				
    				<img src="__PUBLIC__/Images/map.gif" style="width:100%;" alt="广州地区酒店">
    			</div>
    			<include file="Index:search"/>
    		</div>
    		<div id="htr">
    			<p style="color:#851596"><b>最新通知</b></p>
    			<ul id="tz">
    				<a href="javascript:;"><li><span class="tz_bt">&bull;我收煎鸡蛋时都会看见客户</span><span class="tz_time">2016-01-01</span></li></a>
    				<a href="javascript:;"><li><span class="tz_bt">&bull;我收煎鸡蛋时都会看见客户</span><span class="tz_time">2016-01-01</span></li></a>
    				<a href="javascript:;"><li><span class="tz_bt">&bull;我收煎鸡蛋时都会看见客户</span><span class="tz_time">2016-01-01</span></li></a>
    				<a href="javascript:;"><li><span class="tz_bt">&bull;我收煎鸡蛋时都会看见客户</span><span class="tz_time">2016-01-01</span></li></a>
    				<a href="javascript:;"><li><span class="tz_bt">&bull;我收煎鸡蛋时都会看见客户</span><span class="tz_time">2016-01-01</span></li></a>
    				<a href="javascript:;"><li><span class="tz_bt">&bull;我收煎鸡蛋时都会看见客户</span><span class="tz_time">2016-01-01</span></li></a>
    				<a href="javascript:;"><li><span class="tz_bt">&bull;我收煎鸡蛋时都会看见客户</span><span class="tz_time">2016-01-01</span></li></a>
    			</ul>
    		</div>
    	</div>
    </div>

    <div id="footer">
    	<include file="footer"/>
    </div>
    <div id="login_show">
    	<div id="login">
    		<form action="javascript:;" method="post">
    			<p id="close">X</p>
    			<div class="clear"></div>
    			<p id="vip"><b>会员登录</b></p>
    			<p id="account">账号：<input type="text" name="account" value=''></p>
    			<p id="pwd">密码：<input type="password" name="pwd" value=''></p>
    			<p id="fpwd"><a href="javascript:;">（找回密码）</a></p>
    			<p id="submit"><input type="submit" value="登录"></p>
    		</form>
    	</div>
    	<script>
    	$(function(){
    		$("#vip_lg").click(function() {
    			$("#login_show").fadeIn();
    		});
    		$("#close").click(function() {
    			$("#login_show").fadeOut();    			
    		});
    	});
    	</script>
    </div>
</div>
</body>
</html>