<!-- 头部导航 -->
<ul id="hnav">
	<li style="margin-left:122px;"><a href="{:U('Index/index')}">首页<span class="nav_b">|</span></a></li>
	<li id="next">
		<span><a href="{:U('News/index?type=news')}">最新资讯及刊物<span class="nav_b">|</span></a></span>
		<!-- <ul>
			<li><a href="javascript:;">行业资讯</a></li>
			<li><a href="javascript:;">协会活动</a></li>
			<li><a href="javascript:;">协会刊物</a></li>
			<li><a href="javascript:;">每月简报</a></li>
		</ul> -->
	</li>
	<li><a href="{:U('Intelligence/index?type=monthly')}">经营情报<span class="nav_b">|</span></a></li>
	<li><a href="{:U('Promotion/index')}">酒店推广<span class="nav_b">|</span></a></li>
	<li><a href="{:U('Purchase/index')}">酒店用品采购<span class="nav_b">|</span></a></li>
	<li><a href="{:U('Goals/index?type=mission')}">使命及目标<span class="nav_b">|</span></a></li>
	<li><a href="{:U('Contact/index')}">联络我们</a></li>
</ul>